<main class="movie-details">
  {{>movieImage movieDetails}}
  <article>
    <section class="movie-details-header">
      <a href="/movies">Go back</a>
      <h1 class="movie-details-heading">{{movieDetails.title}}</h1>
      <h2 class="movie-details-subheading">Director: {{movieDetails.director}}</h2>
    </section>

    <section>
      <h3>Stars</h3>
      <ul>
        {{#each movieDetails.stars}}
        <li>
          {{this}}
        </li>
        {{/each}}
      </ul>
    </section>
    <section>
      <h3>Description</h3>
      <p>{{movieDetails.description}}</p>
      <h3>Showtimes</h3>
      <p>{{movieDetails.showtimes}}</p>
    </section>
  </article>
</main>